<form id="filter" action="{{ path(app.request.attributes.get('_route')) }}" method="post" {{ form_enctype(filterForm) }} autocomplete="off">

  <fieldset>
    <legend>Filter</legend>

        <label class="title">Title</label>
        {{ form_widget(filterForm.title) }}
        {{ form_errors(filterForm.title) }}

        <label class="material">Material</label>
        {{ form_widget(filterForm.material) }}
        {{ form_errors(filterForm.material) }}
        <div class="clear"></div>

        <label class="keywords">Keywords</label>
        {{ form_widget(filterForm.keywords) }}
        {{ form_errors(filterForm.keywords) }}
        <div class="clear"></div>

        <label class="provenance">Provenance</label>
        {{ form_widget(filterForm.provenance) }}
        {{ form_errors(filterForm.provenance) }}
        <div class="clear"></div>

        <label class="dateWhen">Year</label>
        {{ form_widget(filterForm.dateWhen) }}
        {{ form_errors(filterForm.dateWhen) }}

        <label class="notBefore">Not Before</label>
        {{ form_widget(filterForm.dateNotBefore) }}
        {{ form_errors(filterForm.dateNotBefore) }}
        <label class="notAfter">Not After</label>
        {{ form_widget(filterForm.dateNotAfter) }}
        {{ form_errors(filterForm.dateNotAfter) }}
        <div class="clear"></div>

        <label class="hgv">HGV Number</label>
        {{ form_widget(filterForm.hgv) }}
        {{ form_errors(filterForm.hgv) }}
        <label class="ddb">DDB Identifier</label>
        {{ form_widget(filterForm.ddb) }}
        {{ form_errors(filterForm.ddb) }}
        <div class="clear"></div>

  </fieldset>
  
  {{ form_widget(filterForm) }}

  <fieldset>
    <legend>Display options</legend>
    <label class="sort">Sort</label>
    <select id="sort_0_value" name="sort[0][value]">
      {% for key, option in sortOptions %}
        <option value="{{ key }}" {{ sort[key] is defined ? 'selected="selected"' : '' }}>{{ option }}</option>
      {% endfor %}
    </select>
  
    <select id="sort_0_direction" name="sort[0][direction]">
      {% for key, direction in sortDirections %}
        <option value="{{ key }}" {{ key in sort ? 'selected="selected"' : '' }}>{{ direction }}</option>
      {% endfor %}
    </select>
    
    <div class="clear"></div>

    <label class="template">Template</label>
    <select id="template" name="template">
      {% for key, option in templateOptions %}
        <option value="{{ key }}" {{ key == template ? 'selected="selected"' : '' }}>{{ option }}</option>
      {% endfor %}
    </select>
  </fieldset>

  <input type="submit" id="submit" />
  <button type="button" id="reset" onclick="window.location.href = '{{ path(app.request.attributes.get('_route')) }}'" >Reset Form</button>
  
  <div class="clear"></div>
</form>
