{% extends '::base.html.twig' %}
{% block body %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Provenance</th>
        <th>Title</th>
        <th>DDB</th>
        <th>HGV</th>
      </tr>
    </thead>
  {% for sample in samples %}
    
    <tr>
      <td>{{ sample.dateHgvFormat }}</td>
      <td>{{ sample.provenance }}</td>
      <td><a href="{{ path('PapyrillioBeehiveBundle_SampleShow', {id: sample.id}) }}">{{ sample.title }}</a></td>
      <td>{{ sample.ddb }}</td>
      <td>{{ sample.hgv }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}