{% extends '::base.html.twig' %}

{% block body %}

<div class="sampleThumbnail">
  <img id="sample" class="sample" src="{{ asset(sample.thumbnail) }}?{{ 'now'|date('YmdHis') }}" alt="bleeding edge" width="300" />
  
  {% if is_granted('ROLE_ADMIN') %}

    <div class="clear"></div>

    <form action="{{ path('PapyrillioPapPalBundle_SampleSetMasterThumbnail', { 'id': sample.id }) }}" method="post">
      <input type="hidden" name="masterThumbnail" id="masterThumbnail" value="" />
      <input type="submit" value="set current preview image as master thumbnail" />
    </form>
  
  {% endif %}
    
</div>

<table class="sample">
  <tr><th class="title">Title</th><td class="title">{{ sample.title }}</td></tr>
  <tr><th class="material">Material</th><td class="material">{{ sample.material }}</td></tr>
  <tr><th class="keywords">Keywords</th><td class="keywords">{{ sample.keywords }}</td></tr>
  <tr><th class="provenance">Provenance</th><td class="provenance">{{ sample.provenance }}</td></tr>
  <tr><th class="dateHgvFormat">Date</th><td class="dateHgvFormat">{{ sample.dateHgvFormat }}</td></tr>
  
  <tr>
    <th class="digitalImages">Digital images</th>
    <td class="digitalImages">
      {% for imageLink in sample.imageLinks %}
        <a href="{{ imageLink }}">{{ imageLink }}</a><br />
      {% endfor %}
      {% for key, uploadedImage in sample.uploadedImages %}
        <a href="{{ asset(uploadedImage) }}">{{ key }}</a><br />
      {% endfor %}
      {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path('PapyrillioPapPalBundle_SampleUploadImage', { 'id': sample.id }) }}" method="post" {{ form_enctype(uploadForm) }}>
          {{ form_widget(uploadForm.image) }}
          {{ form_errors(uploadForm.image) }}
          {{ form_widget(uploadForm) }}
          <input type="submit" class="submit" id="form_submit" value="Save" />
        </form>
      {% endif %}
    </td>
  </tr>

  <tr><th class="hgv">HGV</th><td class="hgv"><a href="http://www.papyri.info/hgv/{{ sample.hgv }}">{{ sample.hgv }}</a></td></tr>
  <tr><th class="ddb">DDB</th><td class="ddb"><a href="http://www.papyri.info/ddbdp/{{ sample.ddb }}">{{ sample.ddb }}</a></td></tr>

  <!--tr><th class="dateWhen">When</th><td class="dateWhen">{{ sample.dateWhen }}</td></tr>
  <tr><th class="dateNotBefore">Not before</th><td class="dateNotBefore">{{ sample.dateNotBefore }}</td></tr>
  <tr><th class="dateNotAfter">Not After</th><td class="dateNotAfter">{{ sample.dateNotAfter }}</td></tr>
  <tr><th class="id">id</th><td class="id">{{ sample.id }}</td></tr>
  <tr><th class="tm">tm</th><td class="tm">{{ sample.tm }}</td></tr>
  <tr><th class="folder">folder</th><td class="folder">{{ sample.folder }}</td></tr>
  <tr><th class="collection">collection</th><td class="collection">{{ sample.collection }}</td></tr>
  <tr><th class="volume">volume</th><td class="volume">{{ sample.volume }}</td></tr>
  <tr><th class="document">document</th><td class="document">{{ sample.document }}</td></tr>  
  <tr><th class="century">century</th><td class="century">{{ sample.century }}</td></tr>
  <tr><th class="year">year</th><td class="year">{{ sample.year }}</td></tr>
  <tr><th class="month">month</th><td class="month">{{ sample.month }}</td></tr>
  <tr><th class="day">day</th><td class="day">{{ sample.day }}</td></tr>
  <tr><th class="dateSort">dateSort</th><td class="dateSort">{{ sample.dateSort }}</td></tr>
  <tr><th class="status">status</th><td class="status">{{ sample.status }}</td></tr-->
  <tr><th class="importDate">Import date</th><td class="importDate">{{ sample.importDate.format('Y-m-d H:i:s') }}</td></tr>
</table>

{% if is_granted('ROLE_ADMIN') %}

<div class="clear"></div>

{% for thumbnail in sample.thumbnails %}
  <img class="sampleMini" src="{{ asset(thumbnail) }}" alt="bleeding edge" width="100" onclick="var image = $(this).attr('src'); $('#sample').attr('src', image); $('#masterThumbnail').val(image.match(/\/([^\/]+\.jpg)/)[1]);" />
{% endfor %}


<button name="delete" type="button" id="buttonDelete" value="{{ path('PapyrillioPapPalBundle_SampleDelete', { 'id': sample.id }) }}">delete sample record</button>

{% endif %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/sample.js') }}" type="text/javascript"></script>
{% endblock %}