{% extends '::base.html.twig' %}

{% block body %}

<img id="sample" class="sample" src="{{ asset(sample.thumbnail) }}" alt="bleeding edge" width="300" />

<table class="sample">
  <tr><th class="title">Title</th><td class="title">{{ sample.title }}</td></tr>
  <tr><th class="material">Material</th><td class="material">{{ sample.material }}</td></tr>
  <tr><th class="keywords">Keywords</th><td class="keywords">{{ sample.keywords }}</td></tr>
  <tr><th class="provenance">Provenance</th><td class="provenance">{{ sample.provenance }}</td></tr>
  <tr><th class="dateHgvFormat">Date</th><td class="dateHgvFormat">{{ sample.dateHgvFormat }}</td></tr>
  
  <tr>
    <th class="digitalImages">Digital images</th>
    <td class="digitalImages">
      {% for imageLink in sample.imageLinks %}
        <a href="{{ imageLink }}">{{ imageLink }}</a><br />
      {% endfor %}
    </td>
  </tr>

  <tr><th class="hgv">HGV</th><td class="hgv">{{ sample.hgv }}</td></tr>
  <tr><th class="ddb">DDB</th><td class="ddb">{{ sample.ddb }}</td></tr>

  <!--tr><th class="dateWhen">When</th><td class="dateWhen">{{ sample.dateWhen }}</td></tr>
  <tr><th class="dateNotBefore">Not before</th><td class="dateNotBefore">{{ sample.dateNotBefore }}</td></tr>
  <tr><th class="dateNotAfter">Not After</th><td class="dateNotAfter">{{ sample.dateNotAfter }}</td></tr>
  <tr><th class="id">id</th><td class="id">{{ sample.id }}</td></tr>
  <tr><th class="tm">tm</th><td class="tm">{{ sample.tm }}</td></tr>
  <tr><th class="folder">folder</th><td class="folder">{{ sample.folder }}</td></tr>
  <tr><th class="collection">collection</th><td class="collection">{{ sample.collection }}</td></tr>
  <tr><th class="volume">volume</th><td class="volume">{{ sample.volume }}</td></tr>
  <tr><th class="document">document</th><td class="document">{{ sample.document }}</td></tr>  
  <tr><th class="century">century</th><td class="century">{{ sample.century }}</td></tr>
  <tr><th class="year">year</th><td class="year">{{ sample.year }}</td></tr>
  <tr><th class="month">month</th><td class="month">{{ sample.month }}</td></tr>
  <tr><th class="day">day</th><td class="day">{{ sample.day }}</td></tr>
  <tr><th class="dateSort">dateSort</th><td class="dateSort">{{ sample.dateSort }}</td></tr>
  <tr><th class="status">status</th><td class="status">{{ sample.status }}</td></tr-->
  <tr><th class="importDate">Import date</th><td class="importDate">{{ sample.importDate.format('Y-m-d H:i:s') }}</td></tr>
</table>

<form action="{{ path('PapyrillioPapPalBundle_SampleSetMasterThumbnail', { 'id': sample.id }) }}" method="post">
  <input name="masterThumbnail" id="masterThumbnail" value="" />
  <input type="submit" value="set current preview image as master thumbnail" />
</form>

<div class="clear"></div>

{% for thumbnail in sample.thumbnails %}
  <img class="sampleMini" src="{{ asset(thumbnail) }}" alt="bleeding edge" width="100" onclick="var image = $(this).attr('src'); $('#sample').attr('src', image); $('#masterThumbnail').val(image.match(/\/([^\/]+\.jpg)/)[1]);" />
{% endfor %}


{% endblock %}
