{% extends '::base.html.twig' %}

{% block body %}

{% if error %}
  <div class="ui-widget">
    <div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-error ui-corner-all"> 
      <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>
      <strong>Alert:</strong> {{ error }}</p>
    </div>
  </div>
  <div class="clear"></div><br /><br />
{% endif %}

<form action="" method="post" {{ form_enctype(createForm) }}>
  {{ form_label(createForm.hgv, 'HGV') }}
  {{ form_widget(createForm.hgv) }}
  {{ form_errors(createForm.hgv) }}
  {{ form_label(createForm.image, 'Upload image (optional, only necessary if HGV record doesn\'t contain link to online ressource or if online archive cannot be harvested like ONB)') }}
  {{ form_widget(createForm.image) }}
  {{ form_errors(createForm.image) }}
  {{ form_widget(createForm) }}
  <input type="submit" class="submit" id="form_submit" value="Create" />
</form>

{% endblock %}