{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/jquery/jcrop.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <form action="{{ path('PapyrillioPapPalBundle_ImageCrop', { 'id': sample.id, 'image': image }) }}" method="post">
    <img src="{{ asset('sample/' ~ sample.folder ~ '/' ~ sample.hgv ~ '/' ~ image) }}" id="crop" />
    <input type="hidden" name="image[x]" id="imageX" />
    <input type="hidden" name="image[y]" id="imageY" />
    <input type="hidden" name="image[x2]" id="imageX2" />
    <input type="hidden" name="image[y2]" id="imageY2" />
    <input type="hidden" name="image[w]" id="imageW" />
    <input type="hidden" name="image[h]" id="imageH" />
    <input type="submit" value="crop and return to sample page" />
  </form>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/jquery/jquery-jcrop.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/imageCrop.js') }}" type="text/javascript"></script>
{% endblock %}