{% extends '::base.html.twig' %}
{% block body %}
  {% include 'PapyrillioPapPalBundle:Sample:filterForm.html.twig' with {'filterForm': filterForm, 'template': template, 'templateOptions': templateOptions, 'sort': sort, 'sortOptions': sortOptions, 'sortDirections': sortDirections} %}
  
  <br />
  
  <p>number of records found: {{ thumbnails | length }}</p>

  {% for thumbnail in thumbnails %}
    <div class="sample">
      <a href="{{ path('PapyrillioPapPalBundle_SampleShow', {id: thumbnail.sample.id}) }}"><img src="{{ asset('thumbnail/placeholder.gif') }}" data-original="{{ asset('thumbnail/' ~ thumbnail.file) }}" class="lazy" title="&lt;span class=&quot;keyword greek&quot;&gt;{{ thumbnail.sample.title != 'keiner' ? thumbnail.sample.title : '...' }}&lt;/span&gt; &lt;br/&gt; {{ thumbnail.sample.dateHgvFormat }} &lt;br/&gt; {{ thumbnail.sample.provenance }} &lt;br/&gt; {{ thumbnail.sample.material }}, {{ thumbnail.language | iso }}, &lt;span class=&quot;greek&quot;&gt;{{ thumbnail.sample.keywords }}&lt;/span&gt; &lt;br/&gt; DDbDP {{ thumbnail.sample.ddb }} / HGV/TM {{ thumbnail.sample.hgv }}" /></a>
      <br />
      <span class="date">{{ thumbnail.sample.dateHgvFormat }}</span>,
      <span class="provenance">{{ thumbnail.sample.provenance }}</span> -
      <span class="title greek">{{ thumbnail.sample.title }}</span>
    </div>
  {% endfor %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script src="{{ asset('js/jquery/jquery-tipTip.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery/jquery-lazyload.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/sampleFilterForm.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('img.lazy').lazyload();
      $('img[title]').tipTip({keepAlive: true});
    });
  </script>
{% endblock %}